body {
    background-color: lightpink;
}

#helpMessage {
    border: 10px solid red;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
}

#message-para {
    font-weight: bold;
    font-size: 30px;
}

.header { grid-area: header; }

.left-panel { 
    grid-area: left-panel;
    text-align: center;
}

.middle-panel { 
    grid-area: middle-panel;
    text-align: center;
}

.right-panel { 
    grid-area: right-panel;
    text-align: center;
}
 
 .no-visibility {
    display: none;
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2; 
}

#score {;
    grid-area: score;
    font-weight: bold;
    font-size: 30px;
}
.resetButton{
    grid-area: resetButton;
}
    
.fit {
    width: 100%;
    height: 100%;
}
.grid_center {
    place-self: center;
}
img:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}

#game {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: 
        'header header header'
        'player1 . player2'
        'left-panel middle-panel right-panel'
        'score score resetButton'
    ;
}